h1{
    margin:0;
    color:#F00000;
}

h2{
    margin:0;
    color:#FF0000;
}

h3{
    margin:0;
    color:#FFF000;
}

h4{
    margin:0;
    color:#FFFF00;
}

h5{
    margin:0;
    color:#FFF000;
}


    /*removes border from youtube video*/
    iframe{
        position:relative;
        border:none !important;
      
    }
    
  .noPad{
      padding:0 !important;
      margin:0 !important;
  }
  
  /**** Main Module Controls ****/
  .control-wrapper{
      margin-right:22px;
      
  }
  
  
  /*set blue background behind elements*/
 .accentBkg{
     
     width:100%;
     margin:0 auto;
     height:500px;
     position:absolute;
     z-index:-20;
     top:0px;
     background : #0BA5DE;
 }

/*Evan's styles for matching activity. Couldn't figure out how to do this easily in the component*/

card {
        background-color: orange;
        height: 50px;
        width: 100px;
        margin: 5px;
    }
    .set1 {
        background-color: blue;
        color: white;
        float: left;
    }
    
    .set2 {
        background-color: purple;
        float: right;
        transition:2s;
    }
    
    .set2 .card:active {
        background-color: red;
            }
   
   [data-clicked="yes"] {
        border: 2px red solid;
    }
    
    [data-clicked="done"] {
        background-color: gray;
    }

    

 /*removes border from youtube video*/
iframe{
        position:relative;
        border:none !important;
      
    }
    
.noPad{
      padding:0 !important;
      margin:0 !important;
  }
  
  /* Main Module Controls, just here for testing purposes. Needs to be styled to fit design */
.control-wrapper{
      margin-right:22px;
      
  }
  
  
  /*set blue background behind elements on certain pages*/
.accentBkg{
     
     width:100%;
     margin:0 auto;
     height:500px;
     position:absolute;
     z-index:-20;
     top:0px;
     background : #0BA5DE;
 }
 
.hoverBtn:hover{
    border:1px solid #0FC6F7 !important;
    background:#0FC6F7 !important;
    
}
 
/*Changes size of main text overlaying module once below 768px*/
@media (max-width:768px) {
    .responsiveTitle {
        font-size:30px !important;
    }
}
 
 

/*End matching styles */    

