h1{
    margin:0;
    color:#F00000;
}

h2{
    margin:0;
    color:#FF0000;
}

h3{
    margin:0;
    color:#FFF000;
}

h4{
    margin:0;
    color:#FFFF00;
}

h5{
    margin:0;
    color:#FFFFF0;
}

/*Styles of the Practice component for matching activity. Couldn't figure out how to do this easily in the component*/

.card {
        background-color: orange;
        height: 50px;
        width: 100px;
        margin: 5px;
    }
    .match {
        background-color: blue;
        color: white;
    }
    
   [data-clicked="yes"] {
        border: 2px red solid;
    }
    
    [data-clicked="done"] {
        background-color: gray;
    }
    