body
{
    font-family: "Century Gothic", sans-serif,
}

h1{
    margin:0;
    color:#F00000;
}

h2{
    margin:0;
    color:#FF0000;
}

h3{
    margin:0;
    color:#FFF000;
}

h4{
    margin:0;
    color:#FFFF00;
}

h5{
    margin:0;
    color:#FFF000;
}


  
  
  /**** Main Module Controls ****/
  .control-wrapper{
      margin-right:22px;
      
  }
  

/*Evan's styles for matching activity. Couldn't figure out how to do this easily in the component*/
.set1 .card[data-clicked="done"] {
        background-color: gray;
    }
    
.set2 .card[data-clicked="done"] {
        background-color: gray;
    }

    .card {
        width: 90%;
        padding: 10px;
        margin: 10px;
        margin-left: auto;
        margin-right: auto;
        color: #ffffff;
        background-color:white;
        
    }
    
  
   .set1 .card {
        background-color: #f16521;
       
    }
    .set2 .card {
        background-color: #062F57;
    }
    
    .set2 .card:active {
        background-color: #ffb813;
            }
   
   [data-clicked="yes"] {
        border: 2px #ed1c24 solid;
    }
    
    
/*End matching styles */    
    

 /*removes border from youtube video*/
iframe{
        position:relative;
        border:none !important;
      
    }
    
.noPad{
      padding:0 !important;
      margin:0 !important;
  }
  
  /* Main Module Controls, just here for testing purposes. Needs to be styled to fit design */
.control-wrapper{
      margin-right:22px;
      
  }
  
  
  /*set blue background behind elements on certain pages*/
.accentBkg{
     
     width:100%;
     margin:0 auto;
     height:250px;
     position:absolute;
     z-index:-20;
     top:0px;
     background : #0BA5DE;
     
 }
 
.hoverBtn:hover{
    border:1px solid #0FC6F7 !important;
    background:#0FC6F7 !important;
    
}







 
/*Changes size of main text overlaying module once below 768px*/
@media (max-width:768px) {
    .responsiveTitle {
        font-size:30px !important;
    }
}
 
 


.btnOverRides{
    padding:12px 22px !important;
    border: 2px solid #e6e7e8 !important;
    color:#cccccc !important;
    margin: 20px 0 20px 15px !important;
    border-radius: 0 !important;
    font-family: Century Gothic, san-serif !important;
    font-size: 14px !important;
    font-weight: bold !important;
    background-color:transparent !important;
    width:180px !important;
    line-height: 1.455 !important;
    

}